pkgbase = cdplayer-bin
	pkgdesc = A desktop music player that recreates the tactile feel of a physical CD player
	pkgver = 2.12.0
	pkgrel = 1
	url = https://github.com/Kizarov3/CDPlayer
	arch = x86_64
	license = MIT
	depends = alsa-lib
	depends = at-spi2-core
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libdrm
	depends = libxkbcommon
	depends = mesa
	depends = nss
	optdepends = gvfs: play audio CDs
	optdepends = libnotify: desktop notifications
	provides = cdplayer
	conflicts = cdplayer
	noextract = cdplayer-2.12.0.AppImage
	options = !strip
	options = !debug
	source = cdplayer-2.12.0.AppImage::https://github.com/Kizarov3/CDPlayer/releases/download/v2.12.0/CDPlayer-2.12.0-linux.AppImage
	source = LICENSE-2.12.0::https://raw.githubusercontent.com/Kizarov3/CDPlayer/v2.12.0/LICENSE
	source = cdplayer.desktop
	source = cdplayer.sh
	sha256sums = 7cbe8b11372960fa90842464207e98bea0dc49524cbe88001e65be9df5650bf3
	sha256sums = 1ce2178aa85c1c875187ef532bcaffb15554beda4a9917b0acee06e694771825
	sha256sums = 2ec00cb2914828f4f9b729a5400f4e74de580d0ecee7d40535c767bc9fc931dc
	sha256sums = b6aa7e66d2de7fc304389e2baf93544ea93ad90a583eafc462afb00a434ac8f0

pkgname = cdplayer-bin
